.platform-section {
  background-image: url("../../assets/images/home/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding-top: 0px;
  padding-bottom: 10px;
  width: 100%;
}
.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  flex-direction: column;
  img {
    width: 300px;
  }
  font-size: 50px;

  background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

.platform-container-slot {
  overflow: hidden;
  height: 360px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.platform-container {
  max-width: $maxwidth;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 95px);
  &.slot-container,
  &.fishing-container,
  &.casual-container {
    max-width: 1300px;
    min-height: 300px;
    overflow: hidden;
    margin-bottom: -40px;
    position: relative;
    z-index: -1;
    padding: 0;
    img {
      width: 100%;
    }
  }
  &.fishing-container,
  &.casual-container {
    margin-bottom: 0;
  }

  .fishing {
    margin-bottom: none;
    img {
      margin-top: -50px;
    }
  }
  .casual {
    margin-bottom: none;
    img {
      margin-top: -80px;
    }
  }

  .platform-desc {
    color: #3063ab;
    font-size: 14px;
  }

  .platform-container-inner {
    display: grid;
    width: 100%;
    padding-right: 0px;
    gap: 100px;
    grid-template-columns: 52% 48%;
    min-height: 675px;
    // overflow: visible;
    overflow: hidden;

    .platform-item {
      min-width: 320px;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: flex-start;
      margin: auto 0;
      padding-top: 0px;
      padding-bottom: 0px;
      position: relative;
      min-height: 675px;

      &--img {
        justify-content: center;
        img {
          display: block;
          //width: 100%;
          transform: scale(1.1);
          width: 748px;
          max-width: 749px;
        }
      }

      .platform-title-wrap {
        /* IM体育 */
        // font-family: "YiHei";
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 1.1;
        text-align: left;
        padding-top: 30px;

        //background: linear-gradient(180deg, #3AACFF 30.46%, #FF53F8 71.84%);
        // background: linear-gradient(180deg, #c2e9fb 0%, #a1c4fc 100%);

        //filter: drop-shadow(2px 1px #fff);
        position: relative;

        .platform-title {
          font-size: 5rem;
          font-weight: 400;
          word-break: keep-all;
          background: linear-gradient(180deg, #ae92ff 0%, #56c2ff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          filter: drop-shadow(2px 1px #5799e3);
        }

        .platform-subtitle {
          // font-weight: 600;
          // font-size: 3rem;
          // letter-spacing: 0px;
          // background: linear-gradient(180deg, #ae92ff 0%, #56c2ff 100%);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          // background-clip: text;
          // text-fill-color: transparent;
          // filter: drop-shadow(2px 1px #5799e3);
          // font-family: Poppins;
          font-size: 36px;
          font-weight: 700;
          line-height: 36px;
          text-align: left;
          color: #000000;
          text-transform: uppercase;
        }
      }

      .platform-title-img {
        margin-top: 1rem;
      }

      .platform-txt-box {
        color: $font-5;
        margin-top: 1rem;
        max-width: 32rem;
        min-width: 45px;
        min-height: 80px;
      }

      .platform-pattern-row {
        margin-top: 1rem;

        img {
          height: 50px;
        }
      }

      .platform-list-box {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: repeat(6, 5rem);
        grid-gap: 0.5rem;
      }

      .platform-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        transition: 0.3s all;

        &:hover {
          filter: brightness(1.05);
          font-weight: bold;

          .list-item-btn {
            border: 0;
            background: linear-gradient(180deg, #7ed5ff, #0e7dff);
            padding: 0.35rem;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);

            & > span {
              background: none;
            }
          }

          .list-item-txt {
            color: $font-3;
          }
        }

        &.active {
          font-weight: bold;

          .list-item-btn {
            border: 0;
            background: linear-gradient(180deg, #7ed5ff, #0e7dff);
            padding: 0.35rem;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);

            & > span {
              background: none;
            }
          }

          .list-item-txt {
            color: $font-3;
          }
        }

        .list-item-btn {
          background: linear-gradient(180deg, #dcebff, #f4f4f4);
          border: 1px solid #0e7dff;
          height: 4rem;
          width: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20%;
          padding: 0.2rem;
          position: relative;
          box-sizing: border-box;
          box-shadow: 0 10px 10px 0 transparent;
          transition: all 0.3s;
          cursor: pointer;

          & > span {
            // background: linear-gradient(180deg, #dcebff, #f4f4f4);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15%;
            transition: all 0.3s;

            img {
              display: block;
              width: 3rem;
            }
          }
        }

        .list-item-txt {
          text-align: center;
          white-space: nowrap;
          color: #737373;
          font-weight: bold;
        }
      }

      .platform-play-btn {
        margin-top: 1rem;

        .maintenance-p {
          margin: 15px 3px;
          font-size: 16px;
          color: $font-1;

          em {
            font-weight: bold;
            font-style: initial;
          }
        }

        .btn-blue {
          height: 3rem;
          min-width: 155px;
          border-radius: 5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0 2rem;
          font-size: 1.25rem;
          color: $color-white;
          background: $linear-bg;
          cursor: pointer;
          transition: 0.3s all;
          text-transform: uppercase;
          // font-family: "Poppins";
          font-weight: bold;

          &.btn-maintenance {
            background: rgba(0, 0, 0, 0.3);
            pointer-events: none;

            .maintenance-state {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 8px;

              img {
                width: 22px;
              }
            }
          }

          &:hover {
            filter: brightness(1.2);
          }

          &:active {
            filter: brightness(1.1);
            transform: translate(0px, 1px);
          }
        }
      }
    }
  }
}

// slot game list
.el-image {
  min-height: 120px;
  display: block;
  width: 100%;
  cursor: pointer;
}

@keyframes game-circle-ani {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUpAbit {
  from {
    transform: scale(1.1);
    transform-origin: center;
  }
  to {
    transform: scale(1);
    transform-origin: center;
  }
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes scale {
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes playzoom {
  0% {
    -webkit-transform: scale(2, 2);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes playzoom {
  0% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes playzoomsm {
  0% {
    -webkit-transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes playzoomsm {
  0% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.recreation-money {
  padding-top: 240px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  color: #907438;
}

.banner-container {
  width: 100%;

  .promo-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.title-container {
  width: 100%;

  .game-title {
    position: relative;
    font-family: C9;
    color: #10a0cb;
    font-weight: 600;
  }

  &.large {
    padding: 50px 0 0 0;

    .game-title {
      font-size: 52px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 12px;
        width: 46px;
        height: 36px;
        background-image: url("../../assets/images/common/title_large.png");
        background-repeat: no-repeat;
      }

      &::before {
        left: -64px;
      }

      &::after {
        transform: rotateY(180deg);
        right: -64px;
      }
    }
  }

  &.hot {
    padding-bottom: 10px;

    .game-title {
      font-size: 32px;
      line-height: 35px;

      &::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 16px;
        background-image: url("../../assets/images/common/title_small.png");
        background-repeat: no-repeat;
        right: -36px;
        top: 10px;
      }
    }
  }
}

.game-container {
  overflow: hidden;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto 5rem;

  border-radius: 2rem;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.22);

  .all-game-container {
    border-radius: 1.5rem;
    border: 1px solid #5c9fff;
    padding: 1rem;
    position: relative;

    .plat-options-wrapper {
      display: flex;
      justify-content: center;
    }

    .plat-options-container {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0.5rem;
      border-radius: 3rem;
      background: linear-gradient(180deg, #f8fbff 0%, #fdfeff 100%);
      box-shadow: 0px 2px 5px 0px #bbdcff inset, 0px -3px 4px 0px #a2bff4 inset;
    }

    .plat-option {
      cursor: pointer;
      border-radius: 3rem;
      padding: 0.2rem 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 2rem;
      min-width: 4rem;
      box-shadow: 0px -3px 6px 0px transparent inset, 0px -2px 4px 0px transparent inset;
      transition: 0.3s all;
      position: relative;
      .text {
        color: #5894ff;
        font-size: 17px;
        font-weight: bold;
      }

      img {
        display: block;
        height: 100%;
        max-height: 42px;
      }

      &:hover {
        background: linear-gradient(180deg, #73b2ff60 0%, #3982ff69 100%);
        box-shadow: 0px -3px 6px 0px #b1d7ff inset, 0px -2px 4px 0px #5894ff inset;
        .text {
          color: #ffffff;
        }
      }

      &.active {
        background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
        box-shadow: 0px -3px 6px 0px #b1d7ff inset, 0px -2px 4px 0px #5894ff inset;
        .text {
          color: #ffffff;
        }
      }

      .new-ribbon {
        position: absolute;
        width: 20px;
        right: -10px;
        top: -12px;
      }
    }

    .plat-games-container {
      width: 100%;
    }

    .search-container {
      display: flex;
      // margin-top: 2rem;
      padding: 0.5rem 1rem;
      justify-content: space-between;
      position: absolute;
      right: 15px;
      top: 15px;

      .search-input {
        // padding: 20px 20px 20px 30px;
        margin: 0 0 0 auto;
        max-width: 460px;
      }
    }

    .game-list-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      margin: 1rem;

      &.cockfight-special {
        display: flex;
        justify-content: center;

        .game-slot {
          max-width: 300px;
        }

        .slot-details {
          justify-content: center !important;
          font-size: 20px !important;
        }
      }

      .game-slot {
        animation: 2s ease 0s 1 normal none running game-circle-ani;
        position: relative;
        border-radius: 1rem;
        background: #fff;
        padding: 0.5rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        .play-btn {
          display: none;
          position: absolute;
          top: 50%;
          margin-top: -38px;
          margin-left: -80px;
          height: 48px;
          width: 160px;
          left: 50%;
          margin-bottom: 20px;
          z-index: 2;
          //background: #67c23a;
          //color: #e6e6e6;
          //background: linear-gradient(180deg, #f8fbff 0%, #fdfeff 100%);
          //box-shadow: 0px 2px 4.58px 0px #bbdcff inset, 0px -1px 3.664px 0px #a2bff4 inset;
          background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
          color: #fff;
          border-radius: 20px;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 20px;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
          &:active {
            filter: brightness(0.85);
            transform: translate(0px, 1px);
          }
        }

        &:hover {
          .play-btn {
            transition: all 0.3s ease-out;
            -webkit-animation: playzoomsm 0.2s;
            animation: playzoomsm 0.2s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            display: flex;
          }
        }

        a {
          display: block;
          text-align: center;
          position: relative;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 90px #fff inset;
            //background-image: url(../../assets/game/play-btn.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            opacity: 0;
            transition: all 0.3s ease-out;
            left: 0px;
            z-index: 1;
          }

          &:hover {
            &::before {
              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              box-shadow: 0 0 20px #fff inset;
              background-color: #ffffff40;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 25%;
              opacity: 0.8;
            }

            img {
              transform: scale(1.2);
            }

            .slot-name {
              img {
                opacity: 1;
                transition: all 0.3s ease-out;
                -webkit-animation: playzoom 0.5s;
                animation: playzoom 0.5s;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
              }
            }
          }

          .slot-img,
          .cockfight-img {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            overflow: hidden;

            .el-image {
              height: 100%;
            }

            img {
              transition: all 0.5s ease;
            }
          }
          .cockfight-img {
            aspect-ratio: unset;
          }

          .slot-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
          }

          .slot-name {
            padding: 0.5rem 1rem;
            color: $font-grey;
            position: relative;

            img {
              width: 90px;
              margin-bottom: 10px;
              display: none;
              opacity: 0;
            }
          }

          .slot-fav {
            display: block;
            position: relative;
            z-index: 5;
            width: 2rem;
            height: 2rem;

            i {
              font-size: 1.5rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $font-grey;

              &:last-child {
                // display: none;
                opacity: 0;
                font-size: 1.75rem;
                transition: 0.3s all;
              }
            }

            &:hover,
            &.fav-on {
              i {
                color: $color-danger;

                &:last-child {
                  // display: block;
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;

  :deep(.el-pagination.is-background .el-pager li) {
    color: $font-4;
    font-weight: bold;
    background: $color-white;
    border: 1px solid #dfe3e8;
    border-radius: 6px;

    &:hover {
      filter: brightness(0.9);
    }
  }

  :deep(.el-pagination.is-background .el-pager li.is-active) {
    color: $accent;
    border-color: $accent;
  }

  :deep(.el-pagination.is-background .btn-next) {
    border: 1px solid #dfe3e8;
    background: $color-white;
    color: #919eab;
    border-radius: 6px;

    &:disabled {
      background: #919eab;
      color: $color-white;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  :deep(.el-pagination.is-background .btn-prev) {
    border: 1px solid #dfe3e8;
    background: $color-white;
    color: #919eab;
    border-radius: 6px;

    &:disabled {
      background: #919eab;
      color: $color-white;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.slot-iframe {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.game-cat-tabs {
  :deep(.el-tabs__nav-wrap::after) {
    background-color: transparent;
  }
}

.all-game-menus {
  width: 380px;
  margin: 0 auto 10px;

  .all-game-tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    .all-game-tab {
      width: 190px;
      text-align: center;
      cursor: pointer;
      padding: 8px 4px;
      background: linear-gradient(180deg, #f8fbff 0%, #fdfeff 100%);
      box-shadow: 0px 2px 5px 0px #bbdcff inset, 0px -3px 4px 0px #a2bff4 inset;
      color: #5894ff;
      font-weight: bold;
      font-size: 20px;

      &:nth-child(1) {
        border-radius: 25px 0px 0px 25px;
      }
      &:nth-child(2) {
        border-radius: 0px 25px 25px 0px;
      }

      &.active {
        background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
        box-shadow: 0px -3px 6px 0px #b1d7ff inset, 0px -2px 4px 0px #5894ff inset;
        color: #fff;
      }
    }
  }
}
