.platform-menu-container {
  display: flex;
  justify-content: center;
  position: relative;

  &.special {
    .platform-menu-item {
      &:first-of-type {
        .platform-menu-extra {
          &:first-of-type {
            border-right: 2px solid #000000;
            padding-right: 20px;
          }
          // .platform-menu-item {
          //   &:last-child {
          //     padding-right: 20px;
          //   }
          // }
        }
      }
    }
  }

  // fishing game hover effect
  .platform-menu-item .platform-menu .platform-menu-item {
    &:hover {
      background: linear-gradient(180deg, #73b2ff1e 0%, #3982ff23 100%);
      .platform-menu-btn a {
        background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
        color: $color-white;
      }
    }
  }

  .platform-menu-extra {
    display: flex;
    justify-content: center;
    position: relative;

    .platform-menu-item {
      border: 0;
      &:first-of-type {
        border: 0;
      }
      &:hover {
        background: linear-gradient(180deg, #73b2ff1e 0%, #3982ff23 100%);
        .platform-menu-btn a {
          background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
          color: $color-white;
        }
      }

      &:active {
        filter: brightness(0.96);
        transform: translate(0px, 1px);
      }
    }
  }

  h4 {
    margin-bottom: 5px;
    font-size: 21px;
  }

  &:not(.special) .platform-menu-item:hover {
    background: linear-gradient(180deg, #73b2ff1e 0%, #3982ff23 100%);
    .platform-menu-btn a {
      background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
      color: $color-white;
    }
  }

  &:not(.special) .platform-menu-item:active {
    filter: brightness(0.96);
    transform: translate(0px, 1px);
  }

  .platform-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all;
    cursor: pointer;
    position: relative;
    animation: fadeIn 1s ease-in-out forwards;
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.maintenance {
      filter: grayscale(0.8);
      pointer-events: none;
    }

    &.maintenance:after {
      content: "";
      position: absolute;
      background: rgba(2, 9, 73, 0.4);
      top: 5%;
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      color: #ffffff;
      font-size: 32px;
      font-weight: bold;
    }

    .maintenance-box {
      position: absolute;
      top: 0%;
      bottom: 10%;
      padding-top: 0px;
      padding-bottom: 15px;
      color: #ffffff;
      font-size: 30px;
      font-weight: bold;
      width: 100%;
      z-index: 33;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      p {
        font-size: 26px;
        line-height: 1.4;
        margin-top: 3px;
        margin-bottom: 3px;
      }

      .small-size {
        font-size: 18px;
      }
    }

    .platform-menu-title {
      padding-top: 20px;
      word-break: keep-all;
      font-size: 2rem;
      font-weight: 600;
      color: #62a1ff;
      letter-spacing: 2px;
      text-shadow: 2px 2px 2px #96def0;
    }

    .platform-menu-caption {
      font-size: 20px;
      color: $accent;
    }

    .platform-menu-img {
      position: relative;
      height: 180px;
      padding: 10px 10px 0;

      img {
        display: block;
        height: 100%;
        width: auto;
      }

      .new-ribbon {
        position: absolute;
        top: 6px;
        right: 0;
        width: 54px;
        height: unset;
      }
    }

    .platform-menu-btn {
      padding-bottom: 10px;
      margin-top: -10px;
      
      a {
        display: flex;
        min-width: 70px;
        height: 20px;
        padding: 6px 26px;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: linear-gradient(180deg, #f8fbff 0%, #fdfeff 100%);
        box-shadow: 0px 2px 4.58px 0px #bbdcff inset, 0px -1px 3.664px 0px #a2bff4 inset;
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
          background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
          color: $color-white;
        }
      }
    }
  }
}
