@media (min-width: 760px) {
  html {
    font-size: 18px;
  }
}


@media (max-width: 500px) {
  html {
    font-size: 15px;
  }
}


@media (max-width: 450px) {

  html {
    font-size: 14px;
  }

}

@media (max-width: 380px) {
  html {
    font-size: 13px;
  }
}
